*{
    font-size: 10px;
   
}
body {
    font-family: 'PT Serif', serif;
    font-family: 'Raleway', sans-serif;
    background-color: black;
}

header{
text-align: center;
border-top: solid;
border-bottom: solid;
font-size: 2.5em;
font-family: 'PT Serif', serif;
background-color: rgb(47, 47, 88);
color: white;
padding: 30px;
margin: auto;
}

h1, h2 {
    font-family: 'PT Serif', serif;
    font-size:2em;
    
}


.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    text-align: center;

}

section {
    font-size: 2em;
    border-style: solid;
    margin-top: 10%;
    border-color:rgb(47, 47, 88) ;
    font-weight: bold;

    

}

.courses ul li{
    list-style-type:none;
    font-size: 2em;
    text-decoration: underline;
    font-weight: bold;
    

    
}

nav ul li {
    list-style-type: none;
    border-style: solid;
    border-color: black;
    padding: 75px;
    background-color:rgb(47, 47, 88);
    margin-top: 10%;
    

}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}

.sidebar a:hover,
.sidebar a:focus {
    background-color: #716f6f;
}

footer{
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    


}

 @media (max-width: 768px) {
        .grid-container {
            display: block;
        }
    }